#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_install:
	make install DEST_DIR=$(CURDIR)/debian/getxkblayout

override_dh_install:
	dh_install --list-missing
